# Ignore compiled files
Lab_01/*.o
Lab_01/*.out
Lab_01/Lab01_manual.pdf

Lab_02/*.o
Lab_02/*.out
Lab_02/Lab02_manual.pdf

Lab_03/*.o
Lab_03/*.out
Lab_03/Lab03_manual.pdf

Lab_04/*.o
Lab_04/*.out
Lab_01/*.pdf
Lab_02/*.pdf
Lab_03/*.pdf
Lab_04/*.pdf
Lab_05/*.pdf
Lab_06/*.pdf
Lab_07/*.pdf
Lab_08/*.pdf
Lab_09/*.pdf
Lab_10/*.pdf
Lab_11/*.pdf
Lab_12/*.pdf


*.log
.gitignore

Lab_04/Practice/

Project/

compile.sh

/todo.txt
.vscode
.gitignore
